@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Grand+Hotel&display=swap");

/* 
==============================
Variables
===============================
*/
:root {
  --clr-primary: #4bb450;
  --clr-primary-light: #e5eec7;
  --clr-grey-0: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: Catamaran, sans-serif;
  --ff-secondary: Grand Hotel, cursive;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.5rem;
}

/* 
==============================
Global Styles
===============================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--white);
  line-height: 1.5;
  font-size: 0.875rem;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.85rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* 
==============================
More Global Styles
===============================
*/
.btn {
  text-transform: uppercase;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.75rem 1.5rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
  box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.22);
}

.btn:hover {
  background-color: var(--clr-primary-light);
}

.section-title h3 {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}

.section-center {
  width: 85vw;
  padding: 4rem 0;
  margin: 0 auto;
  max-width: 1170;
}

.section-title {
  margin-bottom: 2rem;
}

@media screen and(min-width:992px) {
  .section-center {
    width: 95vw;
    padding: 4rem 1rem;
  }
}

/* 
==============================
Header
===============================
*/
.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/main-bcg.jpeg) center/cover no-repeat fixed;
  position: relative;

  /* animation */
  overflow-x: hidden;
}

.banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner h2 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);

  /* animation */
}

.banner h1 {
  text-transform: uppercase;
  color: var(--clr-white);
  margin-top: 1.25rem;
  margin-bottom: 2rem;
}

.banner-btn {
  outline: 0.125rem solid var(--clr-primary);
  outline-offset: 0.25rem;
  font-size: 1.25rem;
  padding: 1rem 1.7rem;
}

/* 
================
content divider 
=================
*/
.content-divider {
  height: 0.5rem;
  background: linear-gradient(
    to right,
    rgba(30, 87, 153, 1) 0%,
    rgba(30, 87, 153, 1) 15%,
    rgba(21, 109, 109, 1) 16%,
    rgba(102, 51, 20, 1) 29%,
    rgba(155, 29, 153, 1) 40%,
    rgba(96, 18, 32, 1) 50%,
    rgba(125, 185, 232, 1) 58%,
    rgba(66, 45, 84, 1) 72%
  );
}

/* 
================
Skill section
=================
*/

.skills {
  background-color: var(--clr-grey-10);
}

.skill {
  padding: 3rem 0;
  text-align: center;
  transition: var(--transition);
}

.skill-icon {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  transition: var(--transition);
  display: inline-block;
  color: var(--clr-primary);
}

.skill-text {
  color: var(--clr-grey-5);
  width: 17rem;
  margin: 0 auto;
}

.skill:hover {
  background-color: var(--clr-white);
  box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.22);
}

.skill:hover .skill-icon {
  transform: translateY(-5px);
}

@media screen and (min-width: 576px) {
  .skill {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .skill {
    float: left;
    width: 25%;
  }
}

/* 
================
About section
=================
*/

.about-img,
.about-info {
  padding: 2rem 0;
}

.about-picture-container {
  background-color: var(--clr-primary);
  border: 0.5rem solid green;
  max-width: 30rem;
  overflow: hidden;
}

about-img {
  transition: var(--transition);
}

.about-picture-container:hover .about-img-pic {
  transform: scale(1.1);
  opacity: 0.5;
}

.about-text {
  max-width: 26rem;
}

@media screen and (min-width: 900px) {
  .about-img,
  .about-info {
    float: left;
    width: 50%;
  }
}

/* 
================
Product section
=================
*/

.products {
  background: var(--clr-grey-10);
}

.product-btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.product-img {
  margin-bottom: 2rem;
  border-radius: var(--radius);
  height: 17rem;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .product {
    float: left;
    width: 50%;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .product {
    float: left;
    width: 33.3%;
  }
}

@media screen and (min-width: 1200px) {
  .product-info {
    float: left;
    width: 30%;
  }

  .products-inventory {
    float: left;
    width: 70%;
  }

  .product {
    margin-bottom: 0;
    padding: 0 1rem;
  }
}

/* 
================
Services section
=================
*/

.services-title {
  margin-top: 4rem;
  margin-bottom: -2rem;
  text-align: center;
}

.services-card {
  background-color: var(--clr-grey-10);
  margin-bottom: 2rem;
  box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.22);
  transition: var(--transition);
  object-fit: cover;
}

.services-card:hover {
  transform: scale(1.02);

  box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.22);
}

.services-img-container {
  object-fit: cover;
}

.services-text {
  margin-top: 2rem;
  text-align: center;
}

.services-text p {
  max-width: 20rem;
  margin: 0 auto;
}

.service-btn {
  margin-top: 2em;
  margin-bottom: 2em;
  font-weight: 400;

  border-radius: 2rem;
}

@media screen and (min-width: 576px) {
  .services-card {
    float: left;
    width: 45%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 992px) {
  .services-card {
    float: left;
    width: 30%;
    margin-right: 3.3%;
  }
}

/* 
================
Form section
=================
*/

.title {
  color: var(--clr-primary);
  text-transform: capitalize;
}

.contact {
  background-color: var(--clr-grey-10);
}
.contact-address {
  max-width: 10rem;
}

.contact-info div {
  margin-bottom: 1.5rem;
}

.contact-form {
  padding: 1.2rem;
  background-color: var(--clr-white);
  text-align: center;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.contact-form h3 {
  margin-top: -2rem;
  padding-top: 1.5rem;
  color: var(--clr-grey-5);
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1.25rem;
  background-color: var(--clr-grey-10);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  background-color: green;
}

@media screen and (min-width: 992px) {
  .form,
  .contact-info {
    float: left;
    width: 50%;
  }
}
